.main {
  background-image: url("../../../assets/img/LAFKA-1000.jpg");
  background-repeat: repeat;
  height: 100vh;
  margin-top: -10px;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}
